<h1>users show</h1>
<p><%= @user.name %></p>
<p><%= @user.introduction %></p>

<%= link_to edit_user_path, class: "btn btn btn-secondary text-white", method: :get do %>
  <i class="fa-solid fa-user-gear"></i>
<% end %>